$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$grey-light: hsl(217, 12%, 63%);
$grey-medium: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$dark-blue-very: hsl(216, 12%, 8%);
$bg: linear-gradient(117.02deg, #131517 0.55%, #191a23 100%);
